body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #daf5fe, #caeffb, #bae8f8, #ade2f4, #a0dcf0);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #050000;
  text-decoration: none;
  padding: 5px;
}

nav ul li a.active {
  font-weight: bold;
}

section {
  padding: 20px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

form label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],

textarea {
  width: 35%;
  padding: 5px;
  margin-top: 5px;
}

input[type="submit"] {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  padding: 20px;
  text-align: center;
}


